<p id="notice"><%= notice %></p>

<p>
  <strong>Main:</strong>
  <%= @lunch.main %>
</p>

<p>
  <strong>Drink:</strong>
  <%= @lunch.drink %>
</p>

<p>
  <strong>Dessert:</strong>
  <%= @lunch.dessert %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %>
</p>

<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
